    h1{
            font-size: 80px;
            color: #ccc;
            position: absolute;
            margin-top: 40vh;
            margin-left: 10vw;
        }
        h3{
            color: #faa;
        }
        body{
            background-color: rgb(7,7,7);
            display: flex;
            justify-content: "center";
            align-content: "center";
            flex: 1;
        }
        table {
            border-collapse: collapse;
            border-radius: 200px;
            background-color: transparent;
        }
        tr{
            background-color: transparent;
        }
        td {
            width: 4px;
            height: 4px;
           /* border: 1px solid #000; */
            text-align: center;
            position: relative;
            font-size: 22px;
            border-radius: 100px;
          
        }
        .index-fire{
            position: absolute;
            top: 2px;
            right: 2px;
            color: #ccc;
            font-size: 12px;
        }